<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5"
    style="background: url('/public/why-kualakubs-bg.jpg') center center / cover no-repeat;">
    <div class="container py-5 text-center">
        <h1 class="display-3 text-dark fw-bold mb-3 animated slideInDown" style="color: rgb(61, 6, 75) !important;">
            <%= bannerTitle %>
        </h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="/" style="color: white;">Home</a></li>
                <li class="breadcrumb-item text-dark active" aria-current="page">
                    <%= bannerTitle %>
                </li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->