<%- include('partials/header') %>

    <%- include('partials/banner', { bannerTitle: 'Admission Procedure' }) %>

        <!-- About Section -->
        <div class="container-xxl py-5 mt-4">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-12">
                        <h1 style="color: var(--accent-purple);">KUALAKUBS’s admission process provides a complete
                            step-by-step guidance to ensure
                            prospective parents have a smooth and hassle-free onboarding experience.</h1>
                    </div>
                    <div class="col-12 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Contact Us
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <div><span class="bi bi-telephone-fill me-2"></span>Phone - 8800105105</div>
                                        <div><span class="bi bi-map-fill me-2"></span><a class="text-dark"
                                                href="google.com/maps?q=Kualakubs,+Kualakubs+Pre+School,+next+to+MICROTEK+GREENBURG,+Sector+86,+Gurugram,+Haryana+122505&ftid=0xa2c23044bc02bbd5:0x44622dd2e3b7478b&hl=en-IN&gl=in&entry=gps&lucs=,47071704,47069508,47084304&g_ep=CAISDDYuOTYuMS4zMDU4MBgAINeCAyobLDQ3MDcxNzA0LDQ3MDY5NTA4LDQ3MDg0MzA0QgJJTg%3D%3D&g_st=iw">Map</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Meet the counsellor
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Our experienced admission counsellors are committed to understanding your
                                        child’s needs and guiding you with care. For any queries related to our
                                        curriculum, fees, or admission process, please fill out the enquiry form. Our
                                        admissions team will connect with you promptly to assist you in making an
                                        informed decision.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                        Take a tour
                                    </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        We invite parents to experience Kualakubs through a personalised campus tour or
                                        a private counselling session. Our dedicated admissions team will reach out at
                                        the earliest to coordinate your visit, ensuring a comfortable and informative
                                        experience tailored to your convenien
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseFour" aria-expanded="false"
                                        aria-controls="collapseFour">
                                        Get Enrolled
                                    </button>
                                </h2>
                                <div id="collapseFour" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        If you have made the excellent decision of joining our KUALAKUBS community for
                                        the current academic year, you can fill up and submit our Registration Form.
                                        Thereafter, the allocated counselor will guide you with formalities towards the
                                        admissions and prep for an enriching journey with KUALAKUBS.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseFive" aria-expanded="false"
                                        aria-controls="collapseFive">
                                        Formalities
                                    </button>
                                </h2>
                                <div id="collapseFive" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        At Kualakubs, we ensure a seamless and stress-free admission experience for
                                        families. Our dedicated admissions team personally assists parents with all
                                        required documentation, including the child’s birth certificate, residential
                                        proof, medical certificate, and a recent passport-size photograph.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
<%- include('partials/footer') %>