<%- include('partials/header') %>

    <%- include('partials/banner', { bannerTitle: 'Message from The Chairman' }) %>

        <!-- About Section -->
        <div class="container-xxl py-5 mt-4">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                        <img class="img-fluid rounded-4 shadow" src="img/S-P-Bansal-1.jpg" alt="About Us"
                            style="border-radius: 20px;">
                    </div>
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                        <h6 class="bg-white text-start pe-3 text-uppercase fw-bold"
                            style="color: #60b457; letter-spacing: 2px;">MESSAGE</h6>
                        <h1 class="mb-3 fw-bold" style="color: rgb(61, 6, 75);">from Chairman</h1>
                        <p class="mb-4">Exploration of classroom confined education has been set on
                            its track. Children are the architects of the future. Their boundless energies need to be
                            supervised and molded in the right direction with the highest efforts ever made. I think
                            this glorious task can be best executed by the teachers, who are at the helm steering the
                            ship of the pupils’ destiny towards a commendable zenith. Besides imparting quality
                            education, an empathetic approach is also our tradition. My heart fills with pride and
                            immense pleasure when I see my pupils procuring quality education and becoming creative,
                            innovative as well as the real citizens of the 21st century through the utmost skills. My
                            heartfelt wishes are always with my worthy scholar pupils. May Almighty shower all the
                            blessings of heaven upon them and KUALAKUBS may get grand success on its mission to go on a
                            long journey of imparting quality education and to play the role of educational leadership
                            in the years to come. </p>
                            </p>
                            <p class="mb-4 fw-bold">Sh. S.P. Bansal</p>
                            <p class="mb-4">Chairman, Geeta Group of Institutions, Panipat

                            </p>
                    </div>
                </div>
            </div>
        </div>

        <%- include('partials/footer') %>