<%- include('partials/header') %>

    <%- include('partials/banner', { bannerTitle: 'Documents Required' }) %>

        <!-- About Section -->
        <div class="container-xxl py-5 mt-4">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-12">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><span class="me-2 bi-check-circle-fill"
                                    style="color: var(--primary);"></span>
                                Four recent passport size photographs of the child and one of each parent. (Not for
                                Prep. group)</li>
                            <li class="list-group-item"><span class="me-2 bi-check-circle-fill"
                                    style="color: var(--primary);"></span>
                                One attested photocopy of the original Municipal Birth Certificate.</li>
                            <li class="list-group-item"><span class="me-2 bi-check-circle-fill"
                                    style="color: var(--primary);"></span>
                                Xerox of the certificate of various achievements.</li>
                            <li class="list-group-item"><span class="me-2 bi-check-circle-fill"
                                    style="color: var(--primary);"></span>
                                Caste certificate.</li>
                            <li class="list-group-item"><span class="me-2 bi-check-circle-fill"
                                    style="color: var(--primary);"></span>
                                Income certificate.</li>
                            <li class="list-group-item"><span class="me-2 bi-check-circle-fill"
                                    style="color: var(--primary);"></span>
                                Proof of Residence – A Photocopy of the Electoral Card/Passport/Driver’s License
                                /Telephone Bill/ Lease Agreement.</li>
                            <li class="list-group-item"><span class="me-2 bi-check-circle-fill"
                                    style="color: var(--primary);"></span>
                                Aadhar card details of the child and parents.</li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <%- include('partials/footer') %>