<%- include('partials/header') %>

    <%- include('partials/banner', { bannerTitle: 'Message from School Director' }) %>

        <!-- About Section -->
        <div class="container-xxl py-5 mt-4">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <!-- <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                        <img class="img-fluid rounded-4 shadow" src="img/S-P-Bansal-1.jpg" alt="About Us"
                            style="border-radius: 20px;">
                    </div> -->
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                        <h6 class="bg-white text-start pe-3 text-uppercase fw-bold"
                            style="color: #60b457; letter-spacing: 2px;">MESSAGE</h6>
                        <h1 class="mb-3 fw-bold" style="color: rgb(61, 6, 75);">from School Director</h1>
                        <p class="mb-4">Kualakus Gurugram offers students opportunities in the fields of education,
                            culture, arts, sports and community service. We provide a collaborative, caring environment
                            that encourages collaborative learning and relationships. We hope to enhance learning itself
                            by sharing the joy of learning and leading by example in everything we do. In this way we
                            hope to strengthen children's important skills for future education: problem solving,
                            evaluation, teamwork, communication, creativity and innovation. We teach using diverse,
                            thematically inspired materials that emphasize a balance of personal development, academic
                            achievement, creative teaching and physical education. Kualakubs Gurugram believes in
                            collaboration between the child's home and school in developing children to reach their
                            highest potential.</p>
                        </p>
                        <p class="mb-4 fw-bold">Thank you for visiting Kualakubs Gurugram.</p>
                        <p class="mb-4">Director - Kualakubs Gurugram
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <%- include('partials/footer') %>